<!DOCTYPE html>
<html lang="en">
<head>
   <title><if condition="$html_title neq ''"><{$html_title}><else/>賺客屋</if></title>
  <meta charset="utf-8">
  <meta name="description" content="賺客屋">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
  <meta name="viewport" content="width=device-width,initial-scale=0.9,user-scalable=0">
  <link rel="icon" type="image/png" href="__PUBLIC__/Admin/assets/i/ico_logo.png">
  <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/Admin/assets/i/ico_logo.png">

  <!--<link rel="stylesheet" href="./view/css/pro_s.css" type="text/css">-->

  <!--<script type="text/javascript" src="__PUBLIC__/js/jquery-1.8.1.min.js"></script>-->
  <script type="text/javascript" src="__PUBLIC__/js/jquery-3.2.1.min.js?<php>echo rand(10000,99999);</php>"></script>
  <!--<script type="text/javascript" src="./view/js/af_wxapply.js"></script>-->
  <script type="text/javascript" src="__PUBLIC__/Weixin//js/lrz.min.js?<php>echo rand(10000,99999);</php>"></script>
  <!--<script type="text/javascript" src="./view/js/pro_s.js"></script>-->

</head>
<body>
