<include file="Public:header" />


<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/tooltip.css">
<script type="text/javascript" src="__PUBLIC__/js/tooltip.js"></script>


<!--顶部-->
<form class="form-inline definewidth m20" action="<{:U('Credit/credit_check_order_list')}>" method="post" style="Float:left;margin: 0px 0px 10px 0px;padding-left: 30px">
    <input type="text" name="name" id="name" class="abc input-default" placeholder="申请书/授权书编码" value="">&nbsp;&nbsp;
    <button type="submit" class="btn btn-primary">查询</button>&nbsp;&nbsp; <!--<a href="<{:U('Credit/product_redact')}>">--><!--<button type="button" class="btn btn-success" id="addnew">申请授权书及申请书</button>--><!--</a>-->
</form>
<form action="<{:U('Credit/credit_check_order_list')}>" method="post" id="type" style="Float:right;margin: 20px 0px 0px 0px;">
    <span style="position:absolute;right:2%;">
      <select name="errmsg" typ="type" val="<{$page_number['errmsg']}>" style="width: 70%; min-width: 120px;" id="sgin_123">
          <option value="" <if condition="$page_number['errmsg'] eq 0 ">selected="selected"</if> >全&#12288;&#12288;部</option>
          <option value="提交成功" <if condition="$page_number['errmsg'] eq '提交成功' ">selected="selected"</if> >提交成功</option>
          <option value="查询成功" <if condition="$page_number['errmsg'] eq '查询成功'">selected="selected"</if> >查询成功</option>
          <option value="回退" <if condition="$page_number['errmsg'] eq '回退' ">selected="selected"</if> >回&#12288;&#12288;退</option>
          <option value="初审完成" <if condition="$page_number['errmsg'] eq '初审完成' ">selected="selected"</if> >初审完成</option>
      </select>
<!--      <input id="sign_up_all" type="radio" checked="checked" name="1" value="2" />全部订单
      <input id="sign_up" type="radio" name="1" value="1" />签约订单
      <input id="signing" type="radio" name="1" value="0" />非签约订单-->
    </span>
</form>
<script>
    $(function(){
        $("#sgin_123").on('change',function(){
//            var url = "<{:U('User/wechat_list')}>";
            var url = $('#type').attr('action');

            var split = url.split('/');
            var sp_le = split.length - 1;
            var act = split[sp_le].split('.');
            var type_val = $(this).val();
            var src = '';
            for(var i = 0;i<=sp_le;i++){
                if(i===sp_le){
                    src += "/"+ act[0] + "/type/" + type_val + ".html";
                }else{
                    if(split[i] != ''){
                        src += '/'+split[i];
                    }
                }
            }
//            console.log(src);
//            console.log(split);
//            console.log(split.length);
            $('#type').attr("action",src);
            $('#type').submit();
        })
    })
</script>





<!--主体-->
<table class="table table-bordered table-hover tab_center definewidth m10">
    <tr>
        <th>序号</th>
        <th>订单编号</th>
        <th>姓名</th>
        <th>授权书编号</th>
        <th>PDF结果</th>
        <th>备注</th>
        <th>当前状态</th>
        <!--<th>来源</th>-->
        <!--<th>类型</th>-->
        <!--<th>城市</th>-->
        <!--<th>金额下限</th>-->
        <!--<th>金额上限</th>-->
        <th>建单时间</th>
        <th>最后更新时间</th>
        <!--<th>上次登录时间</th>-->
        <!--<th>上次登录IP</th>-->
        <!--<th>操作</th>-->
    </tr>
    <volist name="list" id="vo">
        <tr>
            <td><{$i}></td>
            <td><{$vo.orderno}></td>
            <td><{$vo.name}></td>
            <td><{$vo.authorize_num}></td>
            <td>
                <if condition="$vo['pdfurl'] neq ''">
                    <a href="<{$vo.pdfurl}>" target="_blank" download="<{$vo.name}>_征信查询结果.<{$vo.apply}>"><button type="button" class="btn btn-info btn-mini">下载</button></a>
                </if>
            </td>
            <!--<td><a href="<{$vo.authorizeurl}>" download="授权书<{$vo.acode}>.<{$vo.authorize}>"><button type="button" class="btn btn-info btn-mini">下载</button></a></td>-->
            <td><{$vo.ly}></td>
            <td><{$vo.errmsg}></td>
            <td><{$vo.time|date='Y/m/d H:i:s',###}></td>
            <td><{$vo.up_time|date='Y/m/d H:i:s',###}></td>
            <!--<td><{$vo.source}></td>-->
            <!--<td><{$vo.ptname}></td>-->
            <!--<td><{$vo.city}></td>-->
            <!--<td><{$vo.min_money}></td>-->
            <!--<td><{$vo.max_money}></td>-->
            <!--<td><{$vo.add_time}></td>-->
            <!--<td>-->
            <!--</td>-->
            <!--<td><{$vo.time|date='Y/m/d H:i:s',###}></td>-->
            <!--<td><{$vo.enter_ip}></td>-->
            <!--<td>-->
            <!--<a href="<{:U('Product/product_redact',array('id'=>$vo['id']))}>">修改</a> <span style="font-size:16px;">|</span>-->
            <!--<a href="#" onclick="return menu_delete('<{$vo.delete}>','<{$vo.menu}>')">删除</a>-->
            <!--</td>-->
        </tr>
    </volist>

</table>




<!--页码-->
<div class="inline page"><!-- pull-right-->
    <a href="<if condition="$page_number['page'] eq 1 ">javascript:;<else /><{:U('Credit/credit_check_order_list',array('page'=>$page_number['page']-1,'errmsg'=>$page_number['errmsg']))}></if>">«</a>
    <if condition="($page_number['count'] gt 10) AND ($page_number['page'] gt 5) ">
        <a href="javascript:;">...</a>
    </if>
    <for start="1" end="$page_number['count']" comparison="elt">

        <if condition="($i gt $page_number['page'] - 5) AND (($i lt $page_number['page'] + 5) OR (($page_number['page'] elt 5) AND ($i elt 10)))">
            <if condition="$i eq $page_number['page'] ">
                <a href="javascript:;" class="current"><{$i}></a>
                <else />
                <a href="<{:U('Credit/credit_check_order_list',array('page'=>$i,'errmsg'=>$page_number['errmsg']))}>"><{$i}></a>
                <!--<li class="page"><a href="<{:U('System/catalog_list',array('page'=>$i))}>"><{$i}></a></li>-->
            </if>
            <else />
        </if>

    </for>
    <if condition="($page_number['count'] gt 10) AND ($page_number['page'] elt $page_number['count'] - 5) ">
        <a href="javascript:;">...</a>
    </if>
    <a href="<if condition="$page_number['page'] eq $page_number['count'] ">javascript:;<else /><{:U('Credit/credit_check_order_list',array('page'=>$page_number['page']+1,'errmsg'=>$page_number['errmsg']))}></if>">»</a>

</div>

<!--获取授权书弹框-->
<div class="tooltips" id="tooltips">
    <div class="tlp_tle" id="tlp_tle">申请授权书及申请书<span>×</span></div>
    <div class="tlp_text">
        <div>
            <span>请输入您要获取的数量</span><br>
            <input type="text" pattern="^[0-9]{1,2}$" onkeypress="return (/[\d]/.test(String.fromCharCode(event.keyCode)) && $(this).val().length < 2)"  name="num"><br>
            <button type="button" class="btn btn-success" id="num_btn_submit">提&nbsp;&nbsp;&nbsp;交</button>
        </div>
    </div>
</div>


<script>
    $(function(){

        $('#addnew').click(function(){
            $('#tooltips').show();
        });

        $('#num_btn_submit').click(function(){
            var num = $('#tooltips>.tlp_text input[name="num"]').val();
//      console.log(num,num < 100,num > 0,num+'1');
            if(num != '' && num > 0){
                $.post("<{:U('Credit/accredit')}>",{num:num},function(data){

                    if(data.status === 1){

                        console.log(data.result);


                    }else{
                        console.log(data);
                        alert(data.info);
//            if(data.code === 32001){
//              console.log(data);
////              alert(data.info_code);
//            }

                    }




                });




            }







        });





    });





</script>








<include file="Public:footer" />
