
<!DOCTYPE HTML>
<html>
<head>
    <title>一站式金融服务平台</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__PUBLIC__/Admin/assets/i/ico_logo.png">
    <link rel="apple-touch-icon-precomposed" href="__PUBLIC__/Admin/assets/i/ico_logo.png">
    <link href="__PUBLIC__/Admin/assets/css/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Admin/assets/css/bui-min.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Admin/assets/css/main-min.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div class="header">

    <div class="dl-title">
        <!--<img src="/chinapost/Public/assets/img/top.png">-->
    </div>

    <div class="dl-log">
        欢迎您，<span class="dl-log-user"><if condition="$_SESSION['yzs_userinfo']['name'] neq ''"><{$_SESSION['yzs_userinfo']['name']}><else/><{$_SESSION['yzs_userinfo']['username']}></if></span>&nbsp;&nbsp;&nbsp;
        上次登录时间：<span class="dl-log-user"><{$_SESSION['yzs_userinfo']['enter_time']}></span>&nbsp;&nbsp;
        上次登录IP：<span class="dl-log-user"><{$_SESSION['yzs_userinfo']['enter_ip']}></span>
        <a href="<{:U('Login/quit')}>" title="退出系统" class="dl-log-quit">[退出]</a>
    </div>
</div>
<div class="content">
    <div class="dl-main-nav">
        <div class="dl-inform"><div class="dl-inform-title"><s class="dl-inform-icon dl-up"></s></div></div>
        <ul id="J_Nav"  class="nav-list ks-clear">
            <li class="nav-item dl-selected"><div class="nav-item-inner nav-home">系统管理</div></li>		<li class="nav-item dl-selected"><div class="nav-item-inner nav-order">业务管理</div></li>

        </ul>
    </div>
    <ul id="J_NavContent" class="dl-tab-conten">

    </ul>
</div>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/bui-min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/common/main-min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/assets/js/config-min.js"></script>
<script>
    BUI.use('common/main',function(){
//        var config = [{id:'2',menu:[{text:'系统管理',items:[{id:'12',text:'机构管理',href:'Index/xxx.html'},{id:'3',text:'角色管理',href:'Role/index.html'},{id:'4',text:'用户管理',href:'Login/login.html'},{id:'6',text:'菜单管理',href:'Menu/index.html'}]}]},{id:'7',homePage : '9',menu:[{text:'业务管理',items:[{id:'9',text:'查询业务',href:'Node/index.html'}]}]}];
        var config = <{$json}>;
        new PageUtil.MainPage({
            modulesConfig : config
        });
    });



</script>

<script>
    window.onresize=function(){
        $('.tab-content-container').height($(window).height()-$('.tab-content-container').offset().top+'px');
        console.log(11);
        console.log($(window).height());
        console.log($('.tab-content-container').offset().top);
        console.log($('.tab-content-container').height());
    }
</script>
<div style="text-align:center;">
<!--<p>来源：<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p>-->
</div>
</body>
</html>