<include file="Public:header" />


<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/assets/css/modularity_style.css" />
<script type="text/javascript" src="__PUBLIC__/layer/layer.js"></script>
<style>
    .cate{
        line-height: 40px;
    }
    .cate-success{
        color: #ffffff;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        background-color: #4169E1;
        *background-color: #4169E1;
        background-image: -moz-linear-gradient(top, #4169E1, #4169E1);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4169E1), to(#4169E1));
        background-image: -webkit-linear-gradient(top, #4169E1, #4169E1);
        background-image: -o-linear-gradient(top, #4169E1, #4169E1);
        background-image: linear-gradient(to bottom, #4169E1, #4169E1);
        background-repeat: repeat-x;
        border-color: #4169E1 #4169E1 #4169E1;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4169E1', endColorstr='#4169E1', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    }
    .li_title{
        text-align:center;
    }

</style>
<div class="container" style="min-width: 1290px;">
    <div class="content">
        <ul class="expmenu">
                <li style="float: left;width: 100%;margin: 0px;">
                    <volist name="province" id="vo">
                    <span class="cate">
                        <button type="button" style="width: 68px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap"  class="btn btn-primary" dj="<{$vo.grade}>" yiji="<{$vo.id}>"><{$vo.name}></button>
                    </span>&nbsp;&nbsp;
                    </volist>
                </li>
        </ul>
        <div id="dj1">
               <!-- <volist name="type" id="vo">
                    <div class="li_title" style="margin: 0px -12px 20px -12px;text-align:center;" text-align=""><{$vo.name}>
                        <div style="float: right;"id="boot_up">
                        <if condition="$vo.forbidden eq 1">
                            <a href="javascript:;">已启用</a>
                            <else/>
                            <a href="javascript:;">已禁用</a>
                        </if>
                        </div>
                        <input type="hidden" value="<{$vo.forbidden}>"/>
                        <input type="hidden" value="<{$vo.id}>"/>
                    </div>
                </volist>
                <table class="table table-bordered table-hover tab_center definewidth m10" >
                    <tr>
                        <th>编号</th>
                        <th>名称</th>
                        <th>编辑</th>
                        <th>禁用</th>
                    </tr>
                    <volist name="t_data" id="vo">
                        <tr>
                            <td><{$i}></td>
                            <td><{$vo.name}></td>
                            <td>
                                <a href="javascript:;" class="city_save">编辑</a>
                                <input type="hidden" value="<{$vo.id}>"/>
                            </td>
                            <td>
                                <div class="booo_3">
                                    <if condition="$vo.forbidden eq 1"><a href="javascript:;">已启用</a>
                                        <else /><a href="javascript:;">已禁用</a>
                                    </if>
                                </div>
                                <input type="hidden" value="<{$vo.forbidden}>"/>
                                <input type="hidden" value="<{$vo.id}>"/>
                            </td>
                        </tr>
                    </volist>
                </table>
                <div class="inline page">&lt;!&ndash; pull-right&ndash;&gt;
                <a href="<if condition="$t_page_number['page'] eq 1 ">javascript:;<else /><{:U('Product/area_list',array('page'=>$t_page_number['page']-1,'id'=>$id,'dj'=>'1'))}></if>">«</a>
                <if condition="($t_page_number['count'] gt 10) AND ($t_page_number['page'] gt 5) ">
                    <a href="javascript:;">...</a>
                </if>
                <for start="1" end="$t_page_number['count']" comparison="elt">
                    <if condition="($i gt $t_page_number['page'] - 5) AND (($i lt $t_page_number['page'] + 5) OR (($t_page_number['page'] elt 5) AND ($i elt 10)))">
                        <if condition="$i eq $t_page_number['page'] ">
                            <a href="javascript:;" class="current"><{$i}></a>
                            <else />
                            <a href="<{:U('Product/area_list',array('page'=>$i,'id'=>$id,'dj'=>'1'))}>"><{$i}></a>
                            &lt;!&ndash;<li class="page"><a href="<{:U('System/catalog_list',array('page'=>$i))}>"><{$i}></a></li>&ndash;&gt;
                        </if>
                        <else />
                    </if>
                </for>
                <if condition="($t_page_number['count'] gt 10) AND ($t_page_number['page'] elt $t_page_number['count'] - 5) ">
                    <a href="javascript:;">...</a>
                </if>
                <a href="<if condition="$t_page_number['page'] eq $t_page_number['count'] ">javascript:;<else /><{:U('Product/area_list',array('page'=>$t_page_number['page']+1,'id'=>$id,'dj'=>'1'))}></if>">»</a>
            </div>-->
        </div>
        <div id="dj2">
        </div>
        <input type="hidden" value="" id="hidden">
    </div>
</div>

<script>
    $(function(){

            /*$('.booo_3').click(function(){
                var forbidden = $(this).next().val();
                var id = $(this).next().next().val();
                $.post("<{:U('Admin/Product/boot_up')}>",{forbidden:forbidden,id:id},function(res){
                    if(res['status']==1){
                        layer.msg(res['info']);
                    }else{
                        layer.msg(res['info']);
                    }
                },'json');
            })*/


        $('.btn-primary').click(function(){
//            var id = $(this).next().val();
            var dj = $(this).attr('dj');
            var yiji = $(this).attr('yiji');
            $.post("<{:U('Admin/Product/area_list_page')}>",{id:yiji,dj:dj},function(res){
                $('#dj1').html('');
                $('#dj2').html('');
                if(dj === '1'){
                    $("#dj1").html(res);
                }else{
                    $("#dj2").html(res);
                }
            });

        })
        $('#hidden').on('change',function(){
            var msg=$(this).val();
            var arr=msg.split(',');
            /*修改地址*/
//            $.post("http://cesi3.0.com/index.php/Admin/Product/area_list_page2.html",{id:arr[0],dj:arr[1],page:arr[2]},function(data){
            $.post("<{:U('Admin/Product/area_list_page2')}>",{id:arr[0],dj:arr[1],page:arr[2]},function(data){
                if(arr[1] === '1'){
                    $('#dj1').html('');
                    $("#dj1").html(data);
                }else{
                    $('#dj2').html('');
                    $("#dj2").html(data);
                }
            });
        })


/*        $('#boot_up').click(function(){
            var forbidden = $(this).next().val();
            var id = $(this).next().next().val();
            $.post("<{:U('Admin/Product/all_boot_up')}>",{forbidden:forbidden,id:id},function(res){
                if(res['status']==1){
                    layer.msg(res['info']);
                    location.reload();
                }else{
                    layer.msg(res['info']);
                }
            },'json');
        })*/

    })

</script>

<include file="Public:footer" />