<li>
    <div class="li_title">
        <if condition="$type eq 1 ">建筑类型</if>
        <if condition="$type eq 2 ">贷款类型</if>
        <if condition="$type eq 3 ">还款方式</if>
        <if condition="$type eq 4 ">贷款期限</if>
        <!--建筑类型-->

    </div>
    <div class="check_btn">
        <!--<form class="form-inline definewidth m10" action="<{:U('Product/product_list')}>" method="get">
            &lt;!&ndash;条件查询：&ndash;&gt;
            <input type="text" name="name" id="name" class="abc input-default" placeholder="产品名称/产品代码" value="">&nbsp;&nbsp;
            <button type="submit" class="btn btn-primary">查询</button>&nbsp;&nbsp;-->
            <button type="button" class="btn btn-success addnew" id="addnew">添加</button>
            <input type="hidden" value="<{$type}>"/>
        <if condition="$type eq 1 "><input type="hidden" class="sjb" sjb="house_type"/></if>
        <if condition="$type eq 2 "><input type="hidden" class="sjb" sjb="loans_type"/></if>
        <if condition="$type eq 3 "><input type="hidden" class="sjb" sjb="repayment_pattern"/></if>
        <if condition="$type eq 4 "><input type="hidden" class="sjb" sjb="month"/></if>
        <!--</form>-->
    </div>
    <table class="table table-bordered table-hover tab_center definewidth m10">
        <tr>
            <th>编号</th>
            <th>
                <if condition="$type eq 4 ">月份<else/>名称</if>
            </th>
            <th>编辑</th>
        </tr>
        <volist name="ht_data" id="vo">
            <tr>
                <td><{$i}></td>
                <td>

                    <if condition="$type eq 4"><if condition="$vo['month'] gt 12"><span><{$vo['month']/12}></span>年<else/><span><{$vo.month}></span>个月</if><else/><span><{$vo.name}></span></if>


                </td>
                <td>
                    <a href="javascript:;" class="save">编辑</a>
                    <input type="hidden" value="<{$vo.id}>"/>
                    <input type="hidden" value="<{$type}>"/>
                    <span>|</span>
                    <if condition="$type eq 1 "><a href="javascript:;" class="delete" tid="<{$vo.id}>" typ="house_type">删除</a></if>
                    <if condition="$type eq 2 "><a href="javascript:;" class="delete" tid="<{$vo.id}>" typ="loans_type">删除</a></if>
                    <if condition="$type eq 3 "><a href="javascript:;" class="delete" tid="<{$vo.id}>" typ="repayment_pattern">删除</a></if>
                    <if condition="$type eq 4 "><a href="javascript:;" class="delete" tid="<{$vo.id}>" typ="month">删除</a></if>
                    <!--<a href="javascript:;" class="delete" tid="<{$vo.id}>" typ="house_type">删除</a>-->
                </td>
            </tr>
        </volist>
    </table>
    <div class="inline page"><!-- pull-right-->
        <if condition="$ht_page_number['page'] eq 1 "><a href="javascript:;">«</a></if>
        <if condition="$ht_page_number['page'] neq 1 "><a href="javascript:;" class="ajax_page" page="<{$ht_page_number['page']-1}>" dj="<{$type}>">«</a></if>
        <if condition="($ht_page_number['count'] gt 10) AND ($ht_page_number['page'] gt 3) ">
            <a href="javascript:;">...</a>
        </if>
        <for start="1" end="$ht_page_number['count']" comparison="elt">
            <if condition="($i gt $ht_page_number['page'] - 3) AND (($i lt $ht_page_number['page'] + 3) OR (($ht_page_number['page'] elt 3) AND ($i elt 10)))">
                <if condition="$i eq $ht_page_number['page'] ">
                    <a href="javascript:;" class="current"><{$i}></a>
                    <else />
                    <a href="javascript:;" class="ajax_page" page="<{$i}>" dj="<{$type}>"><{$i}></a>
                </if>
                <else />
            </if>
        </for>
        <if condition="($ht_page_number['count'] gt 6) AND ($ht_page_number['page'] elt $ht_page_number['count'] - 3) ">
            <a href="javascript:;">...</a>
        </if>
        <if condition="$ht_page_number['page'] eq $ht_page_number['count'] "><a href="javascript:;">»</a></if>
        <if condition="$ht_page_number['page'] lt $ht_page_number['count'] "><a href="javascript:;" class="ajax_page" page="<{$ht_page_number['page']+1}>" dj="<{$type}>">»</a></if>
    </div>
    <input type="hidden" value="" class="hidden">
</li>

<script>
    $('.hidden').on('change',function(){
           var msg=$(this).val();
           var arr=msg.split(',');
           console.log(msg);
           console.log(arr);
           /*修改地址*/
//           $.post("http://cesi3.0.com/index.php/Admin/Product/parameter_list_page.html",{dj:arr[0],page:arr[1]},function(res){
           $.post("<{:U('Admin/Product/parameter_list_page')}>",{dj:arr[0],page:arr[1]},function(res){
               if(arr[0] === '1'){
                   $("#architecture").html('');
                   $("#architecture").html(res);
               }else if(arr[0] === '2'){
                   $("#loan").html('');
                   $("#loan").html(res);
               }else if(arr[0] === '3'){
                   $("#repayments").html('');
                   $("#repayments").html(res);
               }else if(arr[0] === '4'){
                   $("#usury").html('');
                   $("#usury").html(res);
               }
           });
       })
    $(function(){
        $('.ajax_page').click(function(){
            var page = $(this).attr('page');
            var dj = $(this).attr('dj');
            //            alert(page);
            //            alert(dj);
            //            alert(s_id);
            $.post("<{:U('Admin/Product/parameter_list_page')}>",{page:page,dj:dj},function(res){
                if(dj === '1'){
                    $("#architecture").html(res);
                }else if(dj === '2'){
                    $("#loan").html(res);
                }else if(dj === '4'){
                    $("#usury").html(res);
                }else{
                    $("#repayments").html(res);
                }

            });
        });
    })
    $(function(){
        $(".addnew").unbind();
        $(".addnew").click(function(){
            var type= $(this).next().val();
            edit_list(type);
        })
    })
    function edit_list(type){
        if(type == 1){
            var content = ["<{:U('Admin/Product/wechat_update',array('type'=>'1','page'=>$ht_page_number['page']))}>",'no'];
        }else if(type == 2){
            var content = ["<{:U('Admin/Product/wechat_update',array('type'=>'2','page'=>$ht_page_number['page']))}>",'no'];
        }else if(type == 3){
            var content = ["<{:U('Admin/Product/wechat_update',array('type'=>'3','page'=>$ht_page_number['page']))}>",'no'];
        }else if(type == 4){
            var content = ["<{:U('Admin/Product/wechat_update',array('type'=>'4','page'=>$ht_page_number['page']))}>",'no'];
        }
        layer.open({
            type: 2,
            title: '添加',
            area: ['300px', '200px'],
            shade: 0.8,
            closeBtn: 0,
            shadeClose: true,
            //content: ["<{:U('Admin/Product/wechat_update/type/"+type+"')}>",'no']
            content: content
//           content: ["<{:U('Admin/Product/wechat_update',array('type'=>'1','page'=>$ht_page_number['page']))}>",'no']
            /*end: function () {
             location.reload();
             }*/

        })
    }
</script>